.journalPage{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:  linear-gradient(  rgb(112, 233, 193) , white   ) ;
}
.journalHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    background-color: rgb(0, 119, 255);
    box-shadow: 2px 2px 4px rgb(0, 119, 255) , -2px -2px 4px rgb(0, 119, 255);
    margin:  20px 5px ;
    border-radius: 7px;
    padding: 15px;
    position: relative;
}

.journalHeader >img{
    background-color: transparent;
}
.journalInnerHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
    padding: 10px;
}
.journalTitle{
color: white;
text-transform: capitalize;
}
.journalSubTitle{
    color: rgb(228, 210, 210) ; 
}
.createJournalComponent{
    display: flex;
    align-items: center;
    justify-content  : space-around ; 
    background-color: rgb(112, 233, 193);
    width: 90vw;
    padding: 15px;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgb(0, 119, 255) , -2px -2px 4px rgb(0, 119, 255) ;   
    height: 200px;
}
.createJournalTitle{
    font-weight: bolder;
    font-size: larger;
}
.createJournalForm{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}
.createJournalForm > input {
    text-align: center;
    border-radius: 05px;
    padding: 5px;
    border: 2px solid transparent;   
}
.createJournalForm > button{
    background-color: transparent;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bolder;
}

.createJournalForm > button:hover{
background-color: rgb(0, 119, 255);
color: black;
}
.createJournalForm >input:focus{
}