.nav{
    display: flex;
    align-items : center ; 
    justify-content: center;
    width: 100vw;
    padding: 15px;
}
.nav h4{
    color : white ;  
}
.nav .list {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   width: 70vw;
}
.nav .list .item{
        border-radius : 10px  ; 
    padding: 10px;
}
.nav >.list> .item:hover{
    color : white ;

}
.logoutBtn{
    background-color: transparent;
    border: none;
}
.logoutBtn:hover {
    color : white
}
.item.moreBtn {
    position: relative;
    border: 2px solid red;
}
.item .list{
    position: absolute;
    top: 30px;
    border-radius: 10px;
    right : 0px ; 
    border: 2px solid blue;
    width: 200px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction : column ; 
    background-color: rgb(0, 98, 255) ;
}
.list:hover{
    color :blank
}