.loginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: linear-gradient( rgb(112, 184, 252) , rgb(20, 120, 213) ) ;
}
.loginHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loginHeader > h2{
    margin: 15px;
}
.loginForm {
    box-shadow: 2px 2px 4px black;
    width: 40vw;
    padding: 20px;
}
.loginForm>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.loginForm input{
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;    
}
.loginForm input:focus{
    box-shadow: 2px 2px 4px black;
}
.loginForm label {
    font-weight: bolder;
    text-transform : capitalize ; 
    text-align: start;
    }

.loginForm button {
    width: 100%;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 2px 2px 4px black;
}
.loginForm button:hover {
    color : white
}
.errorSection{
display: flex;
align-items: center;
justify-content: center;
height: 50px;
color: red;
}
.inputError{
    color: red;
    box-shadow: 2px 2px 4px red , -2px -2px 4px red;
}
@media  screen and ( max-width : 500px ) {
.loginHeader{
    width: 95vw;
}
.loginForm{
    width: 95vw;
}
}