*{
    margin: 0px;
    padding : 0px ; 
}

.staticPage{
    width: 100vw;
    min-height: 100vh;
  
    position : relative
}
.img{
    background-size: cover;
    background-position: center;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7em;
     text-shadow: 2px 3px 5px black;
     font-style: italic;
}