.productivityPage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    flex-direction: column;
    background-color: aquamarine;
}
.graph{
    display: flex;
    width: 90%;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 6px black , -5px -5px 5px black;
   border-radius: 5px;
}
.createProductivity{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
   background-color: white;
    grid-gap: 25px;
    background-color: rgb(0, 81, 255);
    color: white;
    margin: 50px 5px;
    padding: 40px;
    border-radius: 5px;
    width: 50%;
    box-shadow: 2px 2px 4px black , -2px -2px 4px black ;
}
.createProductivityItem{
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    height: 50px;
}
.createProductivityItem.delete{
    color: red;
    border: 2px solid red;
    background-color: transparent;
    box-shadow: 2px 2px 4px black;
}
.createProductivityItem.delete:hover{
    background-color: red;
    color: white;
}
.createProductivityItem.add{
   color : black  ;
    border: 2px solid black;
    background-color: transparent;
    box-shadow: 2px 2px 4px black;
}
.createProductivityItem.add:hover{
    background-color: black ;
        color: white;
}
.productivityInput:focus{
box-shadow: 2px 3px 6px white, 2px 3px 6px white ,  ;
border: 2px solid transparent;
}
.productivityHeader{
    width: 40vw;
    margin: 20px;
    box-shadow: 2px 2px 3px rgb(0, 81, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 81, 255);
    border-radius: 5px;
    padding: 5px;
}
.productivityHeader >  h4 , .productivityHeader >h6 {
    font-weight: bolder;
    text-transform: capitalize;
    color: white;

}
.createProductivity > h6{
    grid-column-start: 1;
    font-size: larger;
    grid-column-end: 3;
    color: white  ; 
    font-weight: bolder;

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footerProductivity{
    width: 90vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productivityInputContainer{
    text-align: center;
}
.productivityInputContainer>span{
    color: white
}
@media screen and (max-width : 1100px) {
    .createProductivity{
        margin: 15px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .createProductivity > *{
        width: 100%;
        margin: 20px;
    }
    .productivityHeader{width: 90vw;}
    .footerProductivity{
        flex-direction: column;
    }
    .createProductivity{
        width: 95vw;

    }
}